@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;300;400;500;600;700&display=swap");

.supportPage-container {
  font-family: "Fira Sans", sans-serif;
  margin-top: 0px;
}
.header-container {
  padding-top: 50px;
  background-color: #2892d7;
}
.header {
  color: var(--color-primary);
  color: var(--color-secondary);

  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
.header h1 {
  font-size: 38px;
}
.header p {
  width: 300px;
  margin: 0 auto;
  line-height: 1.8em;
  color: black;
  font-weight: 700;
  letter-spacing: 1px;
}
.header-info {
  display: flex;
}
.header-image {
  width: 100%;
  align-items: center;
  margin: 0 auto;
  overflow-y: hidden;
}
.header-image img {
  width: 250px;
  padding: 10px;
}
.support-reasons {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 80px auto;
  width: 100%;

  height: 200vh;
}
.support {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  width: 100%;

  max-width: 1300px;
  padding: 10px 20px;
  margin: 20px auto;
  animation: fade-in 1200ms ease-in-out;
}

.support-image {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.support-image img {
  width: 100%;
  max-width: 400px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(128, 128, 128, 0.248);
}
.support-text {
  width: 100%;

  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.support-text h2 {
  color: var(--color-primary);
  letter-spacing: 1px;
  width: 100%;
  max-width: 500px;
}
.support-text p {
  padding: 5px 15px;
  letter-spacing: 1.25px;
  line-height: 1.8em;
  width: 100%;
  max-width: 500px;
}
.support-ways {
  display: grid;
  grid-template-columns: 1fr;
}
.support-ways-text {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 600px) {
  .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .support-reasons {
    height: 100vh;
  }
  .support {
    display: grid;
    grid-template-columns: 1.05fr 2fr;
  }
  .support-text h2,
  .support-text p {
    text-align: left;
    padding: 5px 15px;
  }
  .support-ways {
    border: 2px solid red;
    max-width: 1300px;
    margin: 0 auto;
  }
  .support-ways-text {
    display: flex;
    flex-direction: row;
  }
  .support-ways-unit {
    padding: 30px 40px;
    line-height: 1.8em;
    letter-spacing: 1px;
  }
  .support-ways-unit img {
    height: 74px;
    width: 74px;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(10%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
