.about-container {
  margin: 50px 0;
  padding: 15px;
}
.about-container h2 {
  color: var(--color-primary);
  font-weight: 700;
  letter-spacing: 1.5px;
  padding-bottom: 20px;
}

.about-container p {
  color: rgba(0, 0, 0, 0.773);
  letter-spacing: 1px;
  line-height: 1.6em;
}
.about-platforms {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 600px;
}

.about-platforms i {
  font-size: 68px;
  color: var(--color-alternate);
}
@media only screen and (min-width: 600px) {
  .about-platforms {
    flex-direction: row;
    justify-content: space-between;
  }
}
