@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;300;400;500;600;700&display=swap");

.nav-contain {
  margin: 0 auto;

  background-color: #343047;
  background-color: transparent;
  display: flex;
  justify-content: center;
}
.navbar-container {
  display: flex;

  justify-content: space-between;
  font-family: "Lato", sans-serif;
  width: 100%;
  max-width: 1300px;
  padding: 15px;

  background-color: transparent;
}
.logo {
  display: flex;

  align-items: center;
  justify-content: flex-start;
  gap: -10px;
}
.logo h2 {
  font-weight: 700;
  font-family: "Fira Sans", sans-serif;
  font-size: auto;
}
.logo img {
  width: 70px;
}
.navbar-menu ul {
  padding: 0;
  list-style: none;
  display: flex;

  justify-content: space-between;
  gap: 20px;
  align-items: center;
  text-align: center;
  color: black;
}
.navbar-menu li {
  display: table-cell;
  position: relative;
  padding: 15px 0;
}
.navbar-menu a,
.navbar-menu p {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  color: var(--color-text);

  font-weight: 700;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.navbar-menu p:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--color-text);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after,
.navbar-menu p:hover:after {
  width: 100%;
  left: 0;
}
.navbar-container-sm {
  display: none;
}

@media only screen and (max-width: 900px) {
  .navbar-container {
    display: none;
  }
  .navbar-container-sm {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    /* border: 1px solid green; */
    width: 100%;
  }
  .logo h2 {
    font-weight: 700;
    font-family: "Fira Sans", sans-serif;
    font-size: 14px;
  }
  .logo img {
    width: 40px;
  }
}
